ul {
  list-style-type: none;
  padding: 0;
}
.sub1, .sub2 {
  font-size: 30px;
  border: black solid 5px;
  margin: 0;
  padding: 15px;
  width: 200px;
}
.sub1 {
  background-color:rgb(255, 255, 0);
  color: darkblue;
}
.sub2 {
  background-color: rgb(0, 255, 255);
  color: red;
}
.main {
  background-color: green;
  border: 25px solid green;
  margin: 10px;
  width: 245px;
}
