<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/index.css" th:href="@{/index.css}"/>
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Raleway" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>List of Meals</h1>

<ul>
    <!--/*@thymesVar id="fakeMealStore" type="com.greenfox.MealService"*/-->
    <!--/*@thymesVar id="description" type="com.greenfox.Meal"*/-->
    <li th:each="item:${fakeMealStore}" th:text="${item.description}"></li>
</ul>

</body>
</html>