div {
  border: solid;
  font-size: 18px;
  margin-top: -2px;
  padding: 10px;
  width: 400px;
}
div:hover {
  background-color: yellow;
}
#first {
  border-top-style: hidden;
}
#last {
  border-bottom-style: hidden;
}
