h1, h2 {
color: green;
}
.Sub1 {
color: darkblue;
background-color:rgb(255, 255, 0);
}
.Sub2 {
background-color: rgb(0, 255, 255);
color: red;
}
.Main  {
width: 245px;
margin: 10px;
background-color: green;
border-width: 25px;
border-style: solid;
border-color: green;
}
/*ul.square li {

}*/
 .blue li {
   color: blue;
  list-style-type: square;
 }
.nested li {
color: black;
list-style-type: inherit;
}
.disc li {
  list-style-type: disc;
}
li.red {
  color: red;
}
