h1, h2 {
  color: green;
}
.blue li {
  color: blue;
  list-style-type: square;
}
.nested li {
  color: black;
  list-style-type: inherit;
}
.disc li {
  list-style-type: disc;
}
li.red {
  color: red;
}
