ul {
  list-style-type: none;
  padding: 0;
}
.sub {
  background-color:rgb(255, 255, 0);
  border: solid black 5px;
  color: darkblue;
  font-size: 30px;
  margin: 0;
  padding: 15px;
  width: 200px;
}
.main {
  background-color: green;
  border: 25px solid green;
  margin: 10px;
  width: 245px;
}
