body {
  width: 350px;
}
.inline-box {
  border-bottom: solid #000000;
  padding: 15px;
}
.float-left {
  float: left;
  padding: 16px 16px 16px 0;
}
.float-right {
  float: right;
  padding: 50px 16px 16px 16px;
}
p {
  text-align: justify;
}
