<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Add post here</h1>

<!--/*@thymesVar id="post" type="com.greenfox.reddit.Post"*/-->
<form action="#" th:action="@{/posts/add}" th:object="${post}" th:method="post">
    <table>
        <tr>
            <td><label>Your Comment:</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{content}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>