div {
  border-style: solid;
  border-bottom-style: hidden;
  font-size: 18px;
  padding: 30px;
  width: 300px;
}
.bgimg {
  background-image: url("duck.png");
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}
.two {
  background-position: center;
}
.three {
  background-position: right bottom;
  border-bottom-style: solid;
}
